<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Ro-Shaun Young</h1>
 <p>Hello My name is Ro-Shaun Young and I am a young and jovial person i love to learn alot about the stock market and one day i would love to be a top stock trader. I'm hoping one day i can
   fulfill my dream of becoming a civil engineer but until ill further my knowledge in computing. </p>
     <a href= {{url_for('home')}}>Home</a>
</body>
</html>
